@model IEnumerable<OnlineAkademi.Web.Models.Menu>

@{
    var controller=ViewContext.RouteData.Values["controller"].ToString();
    var action= ViewContext.RouteData.Values["action"].ToString();

    foreach (var menu in Model)
    {
    <li class="nav-item @((menu.SubMenus!=null)?"has-treeview":"") @((controller==menu.Controller)?"menu-open":"")">
        @if (menu.SubMenus == null)
        {
            <a href="/@menu.Controller/@menu.Action" class="nav-link @((menu.Controller==controller&&menu.Action==action)?"menu-open":"")">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    @menu.Title                    
                </p>
            </a>
        }
        else
        {
            <a class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    @menu.Title
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
        }


        @if (menu.SubMenus != null)
        {
            <ul class="nav nav-treeview">
                @foreach (var subMenu in menu.SubMenus)
                {
                    <li class="nav-item">
                        <a asp-controller="@menu.Controller" asp-action="@subMenu.Action"
                           class="nav-link @((menu.Controller==controller&&subMenu.Action==action)?"active":"")">
                            <i class="far fa-circle nav-icon"></i>
                            <p>@subMenu.Title</p>
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
    }
}

