
@model IEnumerable<OnlineAkademi.Web.Models.VM.CourseTrainerVM>

@{
    ViewData["Title"] = "Eğitmene Bağlı Kurslar";
}

<p class="text-left">
    Şu an bu eğitmene bağlı <b>@Model.Count(c => c.TrainerId != null)</b> adet eğitim var.<br />
    Lİstedeki kursu eğitmene bağlamak için yeşil butona, çıkarmak için kırmızı renkli butona basınız.
</p>

@{

    if (Model.Count() == 0)
    {
        <p class="text-danger m-3">Belirtilen kriterlere uygun bir kayıt bulunamadı.</p>
    }
    else
    {
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quota)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quota)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @item.StartDate.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @item.EndDate.ToString("dd.MM.yyyy")
                        </td>
                        <td>
                            @{
                                if (item.TrainerId == null)
                                {
                                    <a asp-controller="Trainer" asp-action="AddCourse" asp-route-id="@item.Id"
                                       class="btn btn-success" data-id="@item.Id">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="Trainer" asp-action="RemoveCourse" class="btn btn-danger" asp-route-id="@item.Id">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                }
                            }



                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


